<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />

  <title>HSE VaxApp</title>
  <!--   Scripts   -->
  <script src="/scripts/core/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f=" type="text/javascript"></script>
  <script src="/scripts/core/bootstrap.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF=" type="text/javascript"></script>
  <script src="/scripts/plugins/bootstrap-switch.js" integrity="sha384-JDe/rods7D/XxArAPK9J6Oiv2A2QGDL9zpYTfO5ESS5HBFhbxR2UaPS3+3av69V0="></script>
  <script src="/scripts/plugins/nouislider.min.js" integrity="sha384-L88rVWvbqOETVrNxH9pEeGbUF8Q2I6KivM7EtvM6EDb+1MHx0UccL7dPGPCoyI2q=" type="text/javascript"></script>
  <script src="/scripts/plugins/moment.min.js" integrity="sha384-DRe+1gYJauFEenXeWS8TmYdBmDUqnR5Rcw7ax4KTqOxXWd4NAMP2VPU5H69U7yP9="></script>
  <script src="/scripts/plugins/bootstrap-datepicker.min.js" integrity="sha384-vtZXrrXR60MGoprJb7ApH4t3Y59IhePhwtXXmbqg//ha9LHwSo3QCNR6XvF5oXVM="></script>
  <script src="/scripts/main.js" type="text/javascript"></script>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/fonts/fontawesome/css/all.min.css" rel="stylesheet" />

  <!-- CSS Files -->
  <link href="/styles/theme.css" rel="stylesheet" />
  <link href="/styles/style.css" rel="stylesheet" />
</head>